# ==============================

# Miscellaneous

# ==============================

*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ==============================

# IntelliJ / Android Studio

# ==============================

*.iml
*.ipr
*.iws
.idea/

# ==============================

# VS Code (uncomment if needed)

# ==============================

#.vscode/

# ==============================

# Flutter / Dart / Pub

# ==============================

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# ==============================

# Symbolication / Obfuscation

# ==============================

app.*.symbols
app.*.map.json

# ==============================

# Android

# ==============================

/android/.gradle/
/android/build/
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties

# Signing keys (IMPORTANT)

*.jks
*.keystore

# ==============================

# iOS

# ==============================

ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/

# ==============================

# Environment / Secrets

# ==============================

.env
.env.*
*.env

# Firebase configs

google-services.json
GoogleService-Info.plist

# ==============================

# Python / ML (future backend)

# ==============================

**pycache**/
venv/

# Model files (DON’T PUSH)

*.pt
*.onnx
*.h5

# ==============================

# Database / Misc

# ==============================

*.sqlite
*.db
